name: Master
on:
  push:
    branches:
      - master

jobs:
  www:
    strategy:
      matrix:
        step: ['ghpages']
    name: ${{ matrix.step }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        token: ${{ secrets.GH_PAT }}
    - name: ${{ matrix.step }}
      env:
        GH_PAT: ${{ secrets.GH_PAT }}
      run: |
        git config --global push.default simple
        git config --global merge.ours.driver true
        git config --global user.name "Github Actions"
        git config --global user.email "action@github.com"
        yarn install --immutable | grep -v 'YN0013'
        yarn build
        node_modules/.bin/gh-pages --repo https://${GH_PAT}@github.com/${GITHUB_REPOSITORY}.git --dist build
